*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background-color: darkslategray;
    padding: 0 8.5%;
}
nav{
    display: flex;
    justify-content: space-between;
}